<div class="article">
  <div class="links">
    <%= link_to "archives", articles_path %>
  </div>

  <h2><%= article.title %></h2>

  <div class="info">
    <%= article_date(article) %>
  </div>

  <div class="content">
    <%= markdown(article.content) %>
  </div>

  <div style="text-align: center">
    <%= link_to "archives", articles_path %>
  </div>

  <% if admin? %>
    <% unless article.published? %>
      <%= link_to "Publish", publish_article_path(article) %>
    <% end %>
    <%= link_to "Edit", edit_article_path(article) %>
  <% end %>
</div>