<header>
  <div class="group">
    <h1>Shane Russell</h1>

    <nav>
      <ul id="navigation" class="group">
        <li>
          <a href="#about" class="active">About</a>
        </li>
        <li>
          <a href="#portfolio">Portfolio</a>
        </li>
        <li>
          <a href="#blog">Writing</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="about" class="content-section top">
    <h2>All Purpose Software Developer</h2>
    <p class="lead">
      I am passionate about building software that improves lives with well designed, reusable code. I specialize in the <strong>Ruby on Rails</strong> stack, but I've worked with a variety of languages and tools, and am always eager to learn new things.
    </p>

    <h4>also an Alabama-raised bike-riding lover of San Francisco...</h4>
    <p>
      I moved from my sweet home Alabama to the vibrant and beautiful San Francisco to sharpen my craft and pursue interesting work. I ended up falling in love this city. I love biking around, and exploring every nook and cranny of it. I hope to do my part to make it flourish and love it's residents.
    </p>


    <p>
    </p>

    <h3>My development principles</h3>
    <div class="row">
      <div class="span3">
        <h4>Collaborate</h4>
        <p>
          The codebase is shared among all team members. Each team member has a valuable perspective. Discuss technical design with fellow developers. Pair program on projects with significant challenges.
        </p>
        <h4>Don't Repeat Yourself</h4>
        <p>
          Represent all information in one place. Combine shared logic when possible. This allows you to make changes quickly and correctly.
        </p>
      </div>

      <div class="span3">
        <h4>Keep it Simple</h4>
        <p>
          Write the least possible amount code to get the job done. Don't over develop solutions to the problem. Manage complexity through...
        </p>
        <h4>Modularity and Reusability</h4>
        <p>
          Break logic down into small, understandable parts that are easy to...
        </p>
        <h4>Test, Test, Test!</h4>
        <p>
          I make mistakes. I write mean, thorough, take no prisoners style tests to catch those mistakes before they hit.
        </p>
      </div>
    </div>
</div>

<div id="portfolio" class="content-section">
  <h2>Some things I've worked on</h2>
  <h3>Projects</h3>
    <div id="listia" class="web-app">
      <div class="header group">
        <h4> Listia </h4>
        <div class="role">
          full stack developer
        </div>
      </div>

      <div class="screenshot">
        <div class="normal">
          <%= image_tag "portfolio/projects/listia_web.jpg" %>

          <div class="instructions">
            <small>hover for more</small>
          </div>
        </div>

        <div class="more-info">
          <div>
            <p>
              When I left college, I joined the development team at Listia. <a href="http://listia.com">Listia</a> is an fun online marketplace with a virtual currency. It's the product of a YC-backed startup with a brilliant team.
            <p>

            <p>
              I worked a lot in shoring up structual issues brought up as the site scaled. I also designed and developed
              <a href="http://blog.listia.com/2011/08/22/update-an-auction-listing/">many</a>
              <a href="http://blog.listia.com/2012/05/31/new-feature-higher-start-bid/">new</a>
              <a href="http://blog.listia.com/2011/12/10/new-feature-goals/">features</a>.
            </p>

            <p>
              I grew a lot as developer there. I became more disciplined in my commits. I became relentless in doing things the right way. I learned how to deal with many of the technical issues that arise from having high amounts of traffic.
            </p>
          </div>
        </div>
      </div>
      <p>
        <strong>Made with</strong>
        <em>Ruby on Rails, MySQL, RSpec, Coffeescript, Sass</em>
      </p>
    </div>

    <div id="crimson-rewards" class="web-app">
      <div class="header group">
        <h4> Crimson Rewards </h4>
        <div class="role">
          web development lead, designer
        </div>
      </div>

      <div class="screenshot">
        <div class="normal">
          <%= image_tag "portfolio/projects/crimsonrewards_web.jpg" %>

          <div class="instructions">
            <small>hover for more</small>
          </div>
        </div>

        <div class="more-info">
          <div>
            <p>
              At The University of Alabama, football is king.
            </p>

            <p>
              Other sports need love too though... So the university decided to build <a href="http://crimsonrewards.com">Crimson Rewards</a>, a RFID card based loyalty system that rewards users for attending UA athletic events.
            </p>

            <p>
              I designed and developed the website and Facebook application for Crimson Rewards. The Facebook application includes timed quizzes, polls, and comparisons with your friends. We had a successful first season with over 6000 fans enrolled! The program continues to thrive, and the framework we built was rebranded and sold to the University of Kansas as <a href="http://rockchalkrewards.com">Rock Chalk Rewards</a>.
            </p>
          </div>
        </div>
      </div>
      <p>
        <strong>Made with</strong>
        <em>PHP, MS SQL Server, Facebook API, HTML/CSS, Javascript/jQuery</em>
      </p>
    </div>

    <div id="owles-nest" class="web-app">
      <div class="header group">
        <h4>Owles Nest</h4>
        <div class="role">
           full stack developer, designer
        </div>
      </div>

      <div class="screenshot">
        <div class="normal">
          <%= image_tag "portfolio/projects/owles_nest_web.jpg" %>
          <div class="instructions">
            <small>hover for more</small>
          </div>
        </div>

        <div class="more-info">
          <div>
            <p>
              Pencil and paper databases (filling cabinets) aren't fun.
            </p>

            <p>
              A friend's tech savy mom, who worked at Arts n' Autism, realized this. We developed Owles Nest to manage their operations. We expanded functionality to suite similar organizations such as the Veteran's Association and Group Homes.
            </p>

            <p>
              The first version was devloped as a local C# Windows application. We quickly found out this was a nightmare to support. I lead the initiative to redevelop the application in Ruby on Rails, learning along the way. Looking back on that code makes me cringe a little.
            </p>
          </div>
        </div>
      </div>
      <p>
        <strong>Made with</strong>
        <em>Ruby on Rails, MySQL, HTML, CSS, Javascript, JQuery</em>
      </p>

      <script>
        $(".screenshot").hover(
          function() {
            $(this).children(".normal").hide();
            $(this).children(".more-info").show();
          },
          function() {
            $(this).children(".more-info").hide();
            $(this).children(".normal").show();
          }
        )
      </script>
    </div>

  <h3>Art</h3>
  <div class="group">
  <% artworks = %w[ babel babel_floor143 babel_floor1321 self_portrait shoe typoportrait bag still_life_charcoal color_wheel tree].each do |name| %>
      <div class="thumb">
          <%= image_tag "portfolio/art/#{name}_thumb.#{name == "typoportrait" ? "png" : "jpg"}" %>
          <div class="info">
            Title
          </div>
      </div>
  <% end %>
      <script>
        $(".thumb").hover(
          function() {
            $(this).children(".info").show();
          },
          function() {
            $(this).children(".info").hide();
          }
        )
      </script>
  </div>
</div>

<div id="blog" class="content-section">
  <h2>What's on my mind</h2>
  <h3>Title of a Blog Entry</h3>
  <p>
    These are some of the thoughts I manage to get down on paper.
  </p>
</div>

<div id="contact" class="content-section">
  <h2>Find me Other Places on the Web</h2>
  <div class="group">
    <a href="mailto: shane1337@gmail.com" class="contact">
      <div class="icon email-icon">
        <%= image_tag "icons/email-48.png" %>
      </div>
      shane1337@gmail.com
    </a>

    <a href="http://www.linkedin.com/pub/shane-russell/4/784/594">
      <div class="icon stackoverflow-icon">
        <%= image_tag "icons/stackoverflow-48.png" %>
      </div>
      for technical advice.
    </a>

    <a href="http://www.linkedin.com/pub/shane-russell/4/784/594">
      <div class="icon github-icon">
        <%= image_tag "icons/github-48.png" %>
      </div>
      for code.
    </a>

    <a href="https://twitter.com/shanear">
      <div class="icon twitter-icon">
        <%= image_tag "icons/twitter-48.png" %>
      </div>
      for tweets.
    </a>

    <a href="http://www.linkedin.com/pub/shane-russell/4/784/594">
      <div class="icon linkedin-icon">
        <%= image_tag "icons/linkedin-48.png" %>
      </div>
      for business.
    </a>

    <a href="https://www.facebook.com/shanerpage">
      <div class="icon facebook-icon">
        <%= image_tag "icons/facebook-48.png" %>
      </div>
      for fun.
    </a>
  </div>
</div>

<div class="content-section" id="footer">
  Designed and Developed by Shane Russell in 2013. Roll Tide Roll.
</div>
