<header>
  <div class="group">
    <h1>Shane Russell</h1>

    <nav>
      <ul id="navigation" class="group">
        <li>
          <a href="#about" class="active">About</a>
        </li>
        <li>
          <a href="#portfolio">Portfolio</a>
        </li>
        <li>
          <a href="#blog">Writing</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="about" class="content-section top">
    <h2>All Purpose Software Developer</h2>
    <p class="lead">
      I am passionate about building software that improves lives with well designed, reusable code. I specialize in the <strong>Ruby on Rails</strong> stack, but I've worked with a variety of languages and tools, and am always eager to learn new things.
    </p>

    <h4>also an Alabama-raised bike-riding lover of San Francisco...</h4>
    <p>
      I moved from my sweet home Alabama to the vibrant and beautiful San Francisco to sharpen my craft and pursue interesting work. I ended up falling in love this city. I love biking around, and exploring every nook and cranny of it. I hope to do my part to make it flourish and love it's residents.
    </p>


    <p>
    </p>

    <h3>My development principles</h3>
    <div class="row">
      <div class="span3">
        <h4>Collaborate</h4>
        <p>
          The codebase is shared among all team members. Each team member has a valuable perspective. Discuss technical design with fellow developers. Pair program on projects with significant challenges.
        </p>
        <h4>Don't Repeat Yourself</h4>
        <p>
          Represent all information in one place. Combine shared logic when possible. This allows you to make changes quickly and correctly.
        </p>
      </div>

      <div class="span3">
        <h4>Keep it Simple</h4>
        <p>
          Write the least possible amount code to get the job done. Don't over develop solutions to the problem. Manage complexity through...
        </p>
        <h4>Modularity and Reusability</h4>
        <p>
          Break logic down into small, understandable parts that are easy to...
        </p>
        <h4>Test, Test, Test!</h4>
        <p>
          I make mistakes. I write mean, thorough, take no prisoners style tests to catch those mistakes before they hit.
        </p>
      </div>
    </div>
</div>

<div id="portfolio" class="content-section">
  <h2>Some things I've worked on</h2>
  <div class="row">
    <div class="span3">
      <div style="background-color: #dddd00; height: 150px; width: 270px;">

      </div>
    </div>
    <div class="span3">
      <h4>Listia</h4>
      <p>
        These are some of the thoughts I manage to get down on paper.
      </p>
    </div>
  </div>
  <h3>Crimson Rewards</h3>
  <p>
    University of Alabama Athletics Department
  </p>
  <div style="background-color: #777; padding: 20px">
    <%= image_tag "crimsonrewards_web.jpg" %>
  </div>
  <div class="row">
    <div class="span3">
    </div>
    <div class="span3">
      <p>
        These are some of the thoughts I manage to get down on paper.
      </p>
    </div>
  </div>
  <h3>Artwork</h3>
</div>

<div id="blog" class="content-section">
  <h2>What's on my mind</h2>
  <h3>Title of a Blog Entry</h3>
  <p>
    These are some of the thoughts I manage to get down on paper.
  </p>
</div>

<div id="contact" class="content-section" style="margin-bottom: 600px">
  <h2>Get in touch with me</h2>
  <p class="description">
    These are the places you can get in touch with me on the internet.
  </p>

  <ul class="unstyled inline">
    <li>
      <a href="mailto: shane1337@gmail.com">
        <%= image_tag "email_32.png" %> shane1337@gmail.com
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/shanerpage">
        <%= image_tag "facebook_32.png" %> shanerpage
      </a>
    </li>
    <li>
      <a href="https://twitter.com/shanear">
        <%= image_tag "twitter_32.png" %> @shanear
      </a>
    </li>
    <li>
      <a href="http://www.linkedin.com/pub/shane-russell/4/784/594">
        <%= image_tag "linkedin_32.png" %> shane-russell
      </a>
    </li>
  </ul>
</div>
